<!DOCTYPE html>
<html lang="en" style="visibility: hidden;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hash Korea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @RenderSection("Styles", required: false)

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo1iPI7wSqNQkL9f2QsLpmZ_We5n7xs1g&language=en&callback=initMap" async defer></script>

    <meta property="og:title" content="HashKorea" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZxcvZcvXHD-MvAhxxiSZi6j0EcKk96H2mCA&s" />
    <meta property="og:description" content="Lota Plato Lay" />
    <meta property="og:site_name" content="HashKorea" />

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.documentElement.style.visibility = 'visible';
        });
    </script>
</head>

<body>
    @await Html.PartialAsync("_LoginPartial")
    <header>
        @await Html.PartialAsync("_TopMenuPartial")
    </header>

    <div class="page-container">
        @await Html.PartialAsync("_SideMenuPartial")
        <div class="main-content">
            @RenderBody()
        </div>
    </div>

    @*     <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Loplait
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
